header{
    background:#1b2127  ;
    color: white;
}
header a{
    color: white;
    text-decoration:none ;/*none= quitar decoracion, que hay por defecto*/
}
.hero {
    background-image:url('./mifotoblancoynegro.jpg') ; /*url relativa*/
    background-color:#1b2127 ;
    background-size: 500px 300px ; /*width height*/
    background-repeat: no-reapeat;/*no se repita la imagen*/
    background-position-x:right;/*poner imagen a la derecha de la pantalla*/
     
}
h1{
    font-size: 40px;
    color: white;
    line-height: 1.5em;/*espacio entre las lineas*/
    letter-spacing:-0.2px;/*espacio entre las letras*/
    /*text-decoration: underline;*/
}
h1 strong{
    color: #5DADE2 ;
}
/*gris osculo= #1d252c*/
/*gris CLARO= #626262*/
/*gris background= #1b2127*/
body{
    font-family:'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; /*normal = 400*/

}
h2{
    text-transform: uppercase;/* poner todas las letras en mayusculas*/
}
.experiencia {
    /*border-top:10px solid rebeccapurple ; /*tamaño, tipo, estilo*/
    /*border-bottom:10px solid rebeccapurple ; /*tamaño, tipo, estilo*/
    /*border-right:10px solid green ; /*tamaño, tipo, estilo*/
    /*border-left:10px solid green ; /*tamaño, tipo, estilo*/
    border-width: 15px;/*tamaño*/
    border-style: solid;/*tipo*/
    /*border-top-style: double; /*tipo, asignado solo a una de las 4 lineas*/
    border-color: #5DADE2;/*estilo: Si no se define color, por defecto el borde tendra el mismo color que el texto*/ 
}
.experiencia-details{
    width: 500px;
}
.experiencia-imagen-container{
    width: 500px;
}
