header{
    background:#1b2127  ;
    color: white;
}
header a{
    color: white;
    text-decoration:none ;/*none= quitar decoracion, que hay por defecto*/
}
.hero {
    background-image:url('./mifotoblancoynegro.jpg') ; /*url relativa*/
    background-color:#1b2127 ;
    background-size: 500px 300px ; /*width height*/
    background-repeat: no-reapeat;/*no se repita la imagen*/
    background-position-x:right;/*poner imagen a la derecha de la pantalla*/
     
}
.hero img{
    width : 500px;
}
h1{
    font-size: 40px;
    color: white;
    line-height: 1.5em;/*espacio entre las lineas*/
    letter-spacing:-0.2px;/*espacio entre las letras*/
    /*text-decoration: underline;*/
    /*margin: 100px 500px; /*100px= top-bottom y 500=right-left*/
    /*margin: 0 auto; para alimear en medio de la pagina el contenido*/
    margin:100px 520px 70px 30px ; /*top right bottom left, funciona como un reloj. Para el lado derecho, hay que proporcionarle el mismo tamaño que tenga la imagen hero (o mayor) , para que el texto y la imagen no se solapen*/
}
h1 strong{
    color: #5DADE2 ;
}
/*gris osculo= #1d252c*/
/*gris CLARO= #626262*/
/*gris background= #1b2127*/
body{
    font-family:'Source Sans Pro', sans-serif;
    margin: 0 ;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; /*normal = 400*/

}
h2{
    text-transform: uppercase;/* poner todas las letras en mayusculas*/
}
.experiencia{
    background: #fafafa;
}
.experiencia-article {
    border: 1px solid gray;
    border-radius: 10px;/*redondear las puntas*/
    margin: 10px 10px 15px 10px; /*margenes*/
    padding: 20px;
    background: white;
    /*border-top:10px solid rebeccapurple ; /*tamaño, tipo, estilo*/
    /*border-bottom:10px solid rebeccapurple ; /*tamaño, tipo, estilo*/
    /*border-right:10px solid green ; /*tamaño, tipo, estilo*/
    /*border-left:10px solid green ; /*tamaño, tipo, estilo*/
    /*border-width: 15px;/*tamaño*/
    /*border-style: solid;/*tipo*/
    /*border-top-style: double;/*tipo, asignado solo a una de las 4 lineas*/
    /*border-color: #5DADE2;/*estilo: Si no se define color, por defecto el borde tendra el mismo color que el texto*/ 
}
.experiencia-details{
    width: 500px;
    /*display: inline-block;*/
}
.experiencia-imagen-container{
    width: 500px;
}
.flexbox{
    display: flex;
    height: 200px;
    /*Predeterminado esta en fila=row*/
    /*flex-direction: column;*/
    flex-wrap: wrap;/*Mantiene el ancho designado*/
    /*flex-wrap:nowrap ; Asignado por defecto, asi las columnas estarias en una fila alargada horizontalmente*/
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;  
}
.box{
    width: 50px;
    height: 50px;
    /*margin: 20px;*/
    border:1px solid firebrick;
    flex-shrink: 0;/*Para no modificar el tamaño flexible de mis box (hijo) en su padre (flexbox)*/
}

.flexbox2{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.box2{
    width: 20px;
    height: 20px;
    border: 2px solid blueviolet;
}