/*Reglas
Selectores
Declaraciones
Propiedades
Valores*/
/*Selector de etiqueta, ejemplo: header, section, article, nav, etc */
header{
    background: crimson;
    color: green; 
} 
body{
    background:greenyellow;
}
/*Selector descendente, ejemplo: header, section, article, nav, etc */
body header div nav ul li a {
    color: indigo;
}
/*Selector de clase, ejemplo .link, "link" nombre puesto en el html*/
/*Selector de id, ejemplo #Contacto, id nombre puesto en el html*/
